extends ./main

block content
    block content 
    div.container.form-align-top.col-md-8
            form(action="#", method="post")
            
                div.form-group
                    input.form-control(
                        type="text",
                        name="fornecedor",
                        id="fornecedor",
                        placeholder="Digite o nome do fornecedor"
                        required
                    )
                div.form-group
                    input.form-control(
                        type="text",
                        name="cnpj",
                        id="cnpj",
                        placeholder="Digite um cnpj",
                        required
                    )
                div.form-group    
                    input.form-control(
                        type="text",
                        name="telefone",
                        id="telefone",
                        placeholder="Digite um telefone",
                        required
                    )
                div.form-group    
                    input.form-control(
                        type="email",
                        name="email",
                        id="email",
                        placeholder="Digite um e-mail",
                        required
                    )
                div.form-group    
                    input.form-control(
                        type="text",
                        name="contato",
                        id="contato",
                        placeholder="Digite um contato do fornecedor",
                        required
                    )
                
                button.btn.btn-success.col-md-12(type="submit") Cadastrar